@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lobster&display=swap');

*{
    box-sizing: border-box;
    background-color: #24252a;
}
h1{
    font-family: lobster, sans-serif;
    font-weight: 700;
    font-size:xx-large;
    color: #edf0f1;
}
li, a, button {
    font-family:Kdam Thmor Pro, sans-serif;
    font-weight:200;
    font-size: px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px, 20%;
}
#text-logo{
    cursor: pointer;
    position: relative;
    left: 20px;
    color: greenyellow;
}
.nav-items{
    list-style: none;
}
.nav-items li{
    display: inline-block;
}

.nav-items a {
    cursor: pointer;
    
}
a:hover {
    color: greenyellow;
  }

button{
    background-color: greenyellow;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    color: #24252a;
    padding: 10px 10px;
}

li {
    padding: 20px;
}

.callAction{
    position: relative;
    left: -30px;   
}

.about_sec{
    display: inline-block;
    color: #edf0f1;
    width: 70%;
    padding: 5%;
    line-height: 30px;
    font-family: Kdam Thmor Pro, sans-serif;

}
.mirera_img img{
    border: solid wheat;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position:absolute;
    left: 70%;
    top: 15%;

}
.skills{
    color: #edf0f1;
    width: 70%;
    padding: 5%;
    line-height: 30px;
    font-family: sans-serif;
    margin:10px 10%;
    border: solid wheat;
    border-radius: 5px;
    width: 500px;
    height: 600px;

}
.hobbies{
    color: #edf0f1;
    width: 70%;
    padding: 5%;
    line-height: 30px;
    font-family: sans-serif;
    margin:10px 10%;
    border: solid wheat;
    border-radius: 5px;
    width: 500px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 60%;

}
.button-bottom button {
    background-color: greenyellow;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    color: #24252a;
    font-weight: 800;
    padding: 10px 50px;
    width: auto;
    margin: 50px 40%;

}
.footer small{
    color:#edf0f1    
}

.footer{
    margin: 40px;
    width: auto;
    text-align: center;
}

