@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lobster&display=swap');

body{
    margin:0px;
    padding: 0px;
    font-family: Kdam Thmor Pro, sans-serif;
    background-color: #24252a;

}
.loginbox{
    width: 620px;
    height: 720px;
    background: rgb(22, 22, 22);
    color: greenyellow;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.loginbox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    
    padding: 0;
    font-weight: bold;

} 
.loginbox input{
    width: 90%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],  input[type="password"] , input[type="email"] , input[type="tel"] {
    border: none;
    border-bottom: 1px solid #24252a;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: greenyellow;
    color: #24252a;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;
}
.loginbox , a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:rgb(180, 179, 179);
    margin-bottom: 20px;
}
.loginbox a:hover{
    color: wheat;
}
.footer small{
    color: #fff;
    position:static
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}
.text-logo{
    width: 100%;
    height: 40px;
    
}

.text-logo , h1 {
    color: greenyellow;
    text-align: left;
    margin-top:20px;
    margin-left: 20px;
    cursor: pointer;
}
.loginbox .left {
    float: left;
    width: 50%;
}
.loginbox .right {
    float: right;
    width: 50%;
}
select{
    width: 100%;
    height: 40px;
    background: #24252a;
    color: #fff;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
.footer small{
    padding: 20px;
    
}
